//mixin
@mixin  bg($src , $react : no-repeat , $pos : center ,$type :png) {
    background:url(../images/#{$src}.#{$type}) $react $pos;
}
//variable
$headerHeight : 80px;
//coomon
.is_mobile {
    display:none;
}
.is_pc {
    display:block;
}
.select {
    display:inline-block;
    position:relative;
    height:32px;
    padding:0 4px 0 6px;
    background-color: #E3EBFF;
    border-radius: 8px;
    span {
        line-height:32px;
        font-size:14px;
        color:#809CFF;
        cursor: pointer;
    }
    ul{
        display:none;
        position:absolute;
        left:0;
        top:32px;
        width:100%;
        background-color:#E3EBFF;
        box-shadow: 0 30px 30px #657DA840;
        li {
            padding-right:12px;
            text-align: right;
            a {
                display:inline-block;
                padding-left:12px;
                font-size:14px;
                line-height:28px;
                color:#809CFF;
                &.on {
                    @include bg(bg_check, $pos:left center);
                }
            }
        }
        &::after {
            position:absolute;
            left:10px;
            top:0;
            width:calc(100% - 10px);
            height:1px;
            background-color:#fff;
            content:"";
        }
    }
    &.active {
        border-radius: 8px 8px 0 0;
        ul {
            display:block;
        }
    }
    &.on {
        background-color:#809CFF;
        span {
            color:#fff;
        }
    }
}
.check-group {
    display:flex;
    button {
        margin:0 20px;
    }
}
//layout
html ,body {
    overflow: hidden;
    height:100%;
}
.wrap {
    height:100%;
}
.header {
    display:flex;
    align-items: center;
    height:$headerHeight;
    padding:0 40px;
    border:1px solid #EAEAEA;
    .search-box {
        position:relative;
        width:100%;
        padding:0 54px;
        margin-left:186px;
        input {
            width:100%;
            font-size:20px;
            text-align: left;
            font-weight:500;
            &::placeholder {
                color:#DDDDDD;
                font-weight:500;
            }
        }
        button {
            position:absolute;
            left:0;
            top:50%;
            width:24px;
            height:24px;
            transform: translateY(-50%);
            @include bg(icon_search);
        }
    }
    .util {
        display:flex;
        flex:0 0 auto;
        align-items: center;
        margin-left:auto;
        a {
            display:block;
            + a {
                margin-left:20px;
            }
        }
        .alarm {
            position:relative;
            &.on {
                &::after{
                    display:block;
                    position:absolute;
                    right:0;
                    bottom:0;
                    transform: translateY(-50%);
                    width:9px;
                    height:9px;
                    content:"";
                    background-color:#809CFF;
                    box-shadow: 0px 6px 3px #657DA840;
                    border-radius: 100%;
                }
            }
        }
    }
}
.contents {
    height:calc(100% - #{$headerHeight});
    padding:60px 520px 0 360px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,241,245,1) 100%);
    overflow: auto;
    .left-menu {
        position: fixed;
        left:0;
        top:80px;
        width:280px;
        height:calc(100% - #{$headerHeight});
        padding:42px 0 0 75px;
        border-right:1px solid #EAEAEA;
        background-color:#fff;
        .copy {
            position:absolute;
            bottom:20px;
            left:0;
            width:100%;
            padding-left:20px;
            font-size:12px;
            color:#CCCCCC;
        }
        ul {
            position:relative;
            padding-bottom:48px;
            &::after {
                display:block;
                position:absolute;
                right:0;
                bottom:0;
                content:"";
                height:1px;
                width:240px;
                background-color:#EAEAEA;
            }
        }
        li {
            a {
                display:flex;
                position:relative;
                align-items: center;
                z-index: 10;
                @each $obj in menu01 ,menu02 , menu03,menu04 {
                    &.#{$obj} span{
                        @include bg(icon_#{$obj} ,$pos: left center);
                        &.active,&:hover {
                            color:#333;
                            @include bg(icon_#{$obj}_on ,$pos: left center);
                        }
                    }
                }
                span {
                    position: relative;
                    display:inline-block;
                    padding-left:46px;
                    font-size:20px;
                    line-height:27px;
                    font-weight:500;
                    z-index: 10;
                    color:#ADADAD;
                }
                &.active,&:hover {
                    &::after {
                        display:block;
                        position:absolute;
                        left:-7px;
                        top:-2px;
                        width:34px;
                        height:30px;
                        content: "";
                        @include bg(icon_menu_bg );
                        z-index: 1;
                    }
                }
                .num {
                    margin-left:15px;
                    width:40px;
                    padding:4px 0;
                    font-size:14px;
                    color:#809CFF;
                    border-radius: 11px;
                    background-color:#E3EBFF;
                    text-align: center;
                }
            }
            + li {
                margin-top:42px;
            }
        }
    }
    .reservation-section {
        position: fixed;
        right:63px;
        top:$headerHeight + 60px;
        width:356px;
        height:calc(100% - #{$headerHeight} - 60px);
        text-align: center;
        z-index: 2;
        .direct {
            display:inline-block;
            width:240px;
            padding:19px;
            font-size:30px;
            border:5px solid #BACAFF;
            text-align: center;
            border-radius: 10px;
            color:#AABBF5;
            font-weight: 500;
        }
        .list-box {
            padding:20px 20px 20px 26px;
            border:2px solid #E3EBFF;
            background-color:#fff;
            border-radius: 10px;
            p {
                position:relative;
                padding: 0 30px 0 52px;
                font-size:18px;
                line-height:28px;
                color:#333333;
                font-weight: 700;
                text-align: left;
                @include bg(icon_step02_1_on , $pos : left center);
                background-size:auto 48px;
                strong {
                    font-size:24px;
                    font-weight: 700;
                }
                button {
                    position:absolute;
                    right:0;
                    top:50%;
                    width:20px;
                    height:20px;
                    transform: translateY(-50%);
                    @include bg(btn_delete);
                }
            }
        }
        >ul{
            margin-top:58px;
            li {
                position:relative;
                padding-left:46px;
                font-size:18px;
                line-height:26px;
                color:#ADADAD;
                text-align: left;
                span {
                    display:none;
                    font-size:18px;
                    line-height:37px;
                    color:#ADADAD;
                }
                + li {
                    margin-top:30px;
                }
                $total: 4;
                @for $i from 1 through $total {
                &:nth-child(#{$i}) {
                    &::after {
                        content:"#{$i}";
                    }
                
                    }
                }
                &::after {
                    display:block;
                    position: absolute;
                    left:0;
                    top:0;
                    width: 37px;
                    padding: 4px 0 7px 0;
                    font-size:26px;
                    color:#fff;
                    background-color:#E3EBFF;
                    border-radius: 100px;
                    text-align: center;
                    font-weight: 500;
                    z-index: 10;
                }
                &.on{
                    color:#333;
                    &::after {
                        width: 29px;
                        padding: 0px 0 3px 0;
                        background-color:#809CFF;
                        border:4px solid #fff;
                    }
                }
                &.result {
                    p {
                        display:none;
                    }
                    span {
                        display:block;
                    }
                    &::after {
                        height:37px;
                        width:37px;
                        padding:0;
                        content:"";
                        @include bg(bg_result);
                        background-color:#394F9D;
                    }
                }
            }
            + .list-wrap  {
                padding-top:25px;
                margin-top:50px;
                border-top:1px solid #DDDDDD;
            }
        }
    }
    .accordion-wrap {
        dl {
            dt{
                position:relative;
                padding:0 30px 10px 40px;
                font-size:20px;
                line-height:30px;
                color:#333;
                font-weight: 500;
                text-align: left;
                border-bottom:1px solid #909090;
                @each $obj in cal , clock {
                    &.#{$obj}{
                        @include bg(bg_#{$obj} ,$pos:left bottom 10px);
                    }
                }
                button {
                    position:absolute;
                    right:0;
                    top:0;
                    width:30px;
                    height:30px;
                    @include bg(btn_up);
                    &.on {
                        transform: rotate(180deg);
                    }
                }
            }
            dd{
                display:none;
                position:relative;
                padding:10px 28px 10px 174px;
                border-bottom:1px solid #909090;
            }   
            &.open {
                dd {
                    display:block;
                }
            }
            + dl {
                margin-top:10px;
            }
        }
        .select-info {
            display: flex;
            align-items: center;
            position:absolute;
            left:0;
            top:0;
            height:calc(100% - 10px);
            width:160px;
            padding-top:29px;
            .month {
                position:absolute;
                left:0;
                top:0;
                width:100%;
                padding:0 10px;
                text-align: center;
                span {
                    display:inline-block;
                    font-size:20px;
                    line-height:38px;
                    font-weight: 500;
                    color:#333;
                }
                button {
                    position:absolute;
                    width:7px;
                    height:14px;
                    right:0;
                    top:50%;
                    transform: translateY(-50%);
                    @include bg(arrow_month);
                    &.prev {
                        left:0;
                        right:auto;
                        transform:translateY(-50%) rotate(180deg);
                    }
                }
            }
            .check-box {
                display:flex;
                flex-direction: column;
                align-items: center;
                width:100%;
                span {
                    position:relative;
                    display:inline-block;
                    padding-left:32px;
                    font-size:18px;
                    line-height: 38px;
                    color:#ADADAD;
                    &::after {
                        display:block;
                        position:absolute;
                        left:0;
                        top:50%;
                        width:26px;
                        height:26px;
                        transform: translateY(-50%);
                        content:"";
                        border:2px solid #5577F0;
                        background-color:#fff;
                        border-radius: 6px;
                        box-sizing: border-box;
                    }
                    + span {
                        margin-top:10px;
                    }
                    &.disabled {
                        &::after {
                            border:none;
                            background-color: #D1D1D1;
                        }
                    }
                }
            }
        }
    }
    .reservation-step {
        display:none;
        position:absolute;
        right:336px;
        top: -30px;
        width:730px;
        border-radius: 30px;
        box-shadow:0 90px 30px #657DA880;
        overflow: auto;
        max-height:100%;
        .step-header{
            padding:86px 0 60px 0;
            background-color:#809CFF;
            .icon-group {
                position:relative;
                margin-bottom:10px;
                span {
                    img {
                        width:9%;
                    }
                }
                .list {
                    display:flex;
                    width: 40%;
                    justify-content: flex-end;
                    position: absolute;
                    bottom:0;
                    left:0;
                    img {
                        opacity: .5;
                        + img {
                            margin-left:30px;
                        }
                    }
                }
            }
            strong {
                font-size:30px;
                line-height:38px;
                letter-spacing: -0.6px;
                color: #FCFDFD;
                font-weight: 700;
            }
        }
        > div {
            display:none;
            &.on {
                display:block;
            }
        }
        .step-cont {
            position:relative;
            padding:40px 84px 100px 84px;
            background-color: #fff;
            .btn-group {
                display:flex;
                position:absolute;
                bottom:30px;
                left:0;
                width:100%;
                padding:0 40px;
                button {
                    font-size:20px;
                    line-height:24px;
                    color:#ADADAD;
                    font-weight: 600;
                    & + button {
                        margin-left:auto;
                    }
                    &.on {
                        color:#5577F0;
                    }
                }
            }
            .select-list {
                display:flex;
                flex-wrap:wrap;
                justify-content: center;
                button {
                    position:relative;
                    width:120px;
                    padding-top:132px;
                    i {
                        position:absolute;
                        left:0;
                        top:0;
                        width:120px;
                        height:120px;
                    }
                    span {
                        display:inline-block;
                        font-size:20px;
                        line-height:38px;
                        color:#ADADAD;
                        font-weight: 500;
                    }
                    + button {
                        margin-left:66px;
                    }
                    @each $obj in icon_step01_1,icon_step01_2,icon_step01_3,
                    icon_step02_1,icon_step02_2,icon_step02_3,icon_step02_4,icon_step02_5,icon_step02_6,
                    icon_step04_1 , icon_step04_2   {
                        &.#{$obj}{
                            i {
                                @include bg(#{$obj} ,$type:svg);
                            }
                            &.active {
                                span {
                                    color:#5577F0;
                                }
                                i {
                                    border:2px solid #5577F0;
                                    border-radius: 10px;
                                    @include bg(#{$obj}_on,$type:svg);
                                }
                            }
                        }
                    }
                }
            }
            .times {
                div {
                    display:flex;
                    flex-wrap:wrap;
                    margin:-4px 0 0 -4px;
                    + div {
                        padding-top:10px;
                    }
                }
                .tit {
                    width:100%;
                    margin-bottom:4px;
                    text-align: left;
                    font-size:18px;
                    line-height:38px;
                    color:#333;
                    font-weight: 300;
                }
                button {
                    width:calc(20% - 4px);
                    height:32px;
                    margin:4px 0 0 4px;
                    font-size:14px;
                    color:#333;
                    line-height:30px;
                    border:1px solid #D1D1D1;
                    background-color:#E3EBFF;
                    border-radius: 10px;
                    &:disabled {
                        cursor: default;
                        background-color:#EAEAEA;
                    }
                    &.active {
                        border:2px solid #5577F0;
                        color:#5577F0;
                    }
                }
            }
            .result-text {
                padding-top:48px;
                strong {
                    font-size:40px;
                    line-height:50px;
                    color:#333;
                    font-weight:500;
                }
                p {
                    margin-top:48px;
                    font-size:20px;
                    line-height:32px;
                    color:#333;
                    font-weight:500;
                    span {
                        color:#5577F0;
                        font-weight:500;
                    }
                }
            }
        }
        .step02 {
            .select-list  {
                margin-left:-47px;
                margin-top:-10px;
                justify-content: flex-start;
                button {
                    width:100px;
                    padding-top:112px;
                    margin-left:47px;
                    margin-top:10px;
                    i {
                        width:100px;
                        height:100px;
                    }
                    & + button {
                        margin-left:47px;
                    }
                }
            }
        }
        .step04 {
            .select-list {
                justify-content: center;
                button {
                    i {
                        border:2px solid #5577F0 !important;
                        border-radius: 10px;
                    }
                    span {
                        line-height:30px;
                        color:#5577F0;
                    }
                    &.active {
                        i{
                            background-color:#809CFF !important;
                            border-color:#809CFF !important;
                        }
                        &::after{
                            display:block;
                            position:absolute;
                            left:50%;
                            top:0;
                            transform: translate(-50% , -50%);
                            width:47px;
                            height:47px;
                            content:"";
                            border-radius: 100%;
                            @include bg(bg_result);
                            background-size:18px auto;
                            background-color:#809CFF;
                        }
                    }
                }
            }
            .info {
                margin-top:30px;
                font-size:20px;
                line-height:32px;
                color:#ADADAD;
            }
        }
        &.active {
            display:block;
        }
    }
}
.cal-wrap {
    .day {
        display:flex;
        li {
            flex:1 1 auto;
            font-size:18px;
            line-height:38px;
            color:#333;
            font-weight: 500;
        }
    }
    .nums {
        display:flex;
        flex-wrap:wrap;
        li {
            width:calc(100% /7);
            text-align: center;
            button {
                width:42px;
                height:42px;
                font-weight: 500;
                &:disabled {
                    color:#D1D1D1 !important;
                    cursor: default;
                }
                &.red {
                    color:#FF6464;
                }
                &.blue {
                    color:#5A93FF;
                }
                &.active {
                    border:2px solid #5577F0;
                    border-radius: 10px;
                }
            }
        }
    }        
}
.pop-wrap {
    display:none;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    .pop {
        position:relative;
        width:600px;
        height:600px;
        padding-top:120px;
        background-color:#5577F0;
        box-shadow: 0px 90px 30px #657DA880;
        border-radius: 30px;
        text-align: center;
        strong {
            display:inline-block;
            padding-top:100px;
            font-size:30px;
            line-height:38px;
            color:#fff;
            letter-spacing: -0.6px;
            font-weight: 700;
            @include bg(icon_step01 ,$pos : center top);
        }
        p {
            margin-top:60px;
            font-size:20px;
            line-height:26px;
            color:#fff;
        }
        .close {
            position:absolute;
            right:30px;
            top:30px;
            width:30px;
            height:30px;
            @include bg(btn_close);
        }
    }
    &.active {
        display:flex;
    }
}
.white-borad {
    position:relative;
    padding:57px 40px 20px 40px;
    background-color:#fff;
    box-shadow: 0px 20px 40px #657DA833;
    .more {
        position:absolute;
        right:30px;
        top:40px;
        display:inline-block;
        width:5px;
        height:25px;
        @include bg(bg_more);
    }
    .user-info {
        display:flex;
        flex-direction: column;
        align-items: center;
        position:absolute;
        left:-50px;
        top:20px;
        .pic {
            display:inline-block;
            border:8px solid #fff;
            box-shadow: 0 20px 25px #657DA840;
            border-radius: 100px;
            width:100px;
            height:100px;
            background-color:#fff;
            &.user {
                border-color:#E3EBFF;
            }
        }
        .treatment {
            display:flex;
            align-items: center;
            justify-content: center;
            width:64px;
            height:64px;
            margin-top:20px;
            background-color:#fff;
            box-shadow: 0 20px 25px #657DA840;
            border:6px solid #fff;
            border-radius: 100px;
            $color:(
                red : #F760DD,
                blue : #809CFF,
                mint : #9BFEF9,
            );
            @each $val , $obj in $color {
                &.#{$val}{
                    background-color:$obj;
                }
            }
        }
    }
    .textarea {
        textarea {
            width:100%;
            border:none;
            box-sizing: border-box;
            font-size:18px;
            line-height:23px;
            color:#333;
            &::placeholder {
                font-size:20px;
                color:#DDD;
                font-weight: 300;
            }
        }
    }
    .inner {
        padding-left:20px;
        margin-bottom:20px;
        border-bottom:1px solid #EAEAEA;
        .info {
            display:flex;
            align-items: flex-end;
            margin-bottom:43px;
            .name {
                font-size:24px;
                color:#ADADAD;
            }
            .sub {
                margin-left:5px;
                font-size:14px;
                color:#ADADAD;
            }
        }
        .desc {
            padding-bottom:40px;
            white-space: pre-line;
            font-size:18px;
            line-height:28px;
            color:#333;
            img + img {
                margin-left:20px;
            }
        }
    }
    >.write {
        position:absolute;
        right:40px;
        bottom:0;
        width:140px;
        padding:14px 0;
        font-size:20px;
        color:#fff;
        background-color:#EAEAEA;
        border-radius: 38px;
        transform: translateY(50%);
        &:hover {
            background-color:#809CFF;
        }
    }
    + .white-borad {
        margin-top:88px;
    }
    &:last-child {
        margin-bottom:60px;
    }
    .comment {
        position:relative;
        padding-left:74px;
        .pic {
            position:absolute;
            left:0;
            top:0;
        }
        .textarea {
            background-color:#F4F4F4;
            border-radius: 10px;
            textarea{
                padding:15px 15px;
                font-size:18px;
                color:#333;
                background-color:transparent;
            }
        }
    }
}
.comment-list {
    border-bottom:1px solid #EAEAEA;
    padding-bottom:20px;
    margin-bottom:20px;
    li {
        display:flex;
        flex-wrap: wrap;
        padding-left:30px;
        ul {
            margin-top:20px;
            padding-top:20px;
            border-top:1px solid #EAEAEA;
        }
        .pic {
            flex: 0 0 auto;
        }
        .view {
            padding-left:20px;
            flex:1 1 auto;
            width: calc(100% - 64px);
            .info {
                font-size:14px;
                color:#ADADAD;
            }
        }
        .desc {
            white-space: pre-line;
            font-size:18px;
            line-height:28px;
            color:#333;
        }
        .comment-util {
            margin-top:20px;
            padding-left:20px;
            flex-basis: 100%;
            span {
                font-size:14px;
                color:#809CFF;
            }
        }
    }
}

@media all and (max-width:764px){
    .is_pc {
        display:none;
    }
    .is_mobile {
        display:block;
    }
    .wrap {
        padding-top:20px;
        padding-bottom:70px;
        .mobile-tab {
            display:flex;
            position: fixed;
            left:0;
            bottom:0;
            width: 100%;
            background-color:#809CFF;
            span {
                display:inline-block;
                width:50%;
                padding:26px 0;
                font-size:20px;
                color:#fff;
                text-align: center;
                & + span {
                    position:relative;
                    &::after {
                        position:absolute;
                        left:0;
                        top:50%;
                        width:1px;
                        height:40px;
                        transform: translateY(-50%);
                        background-color:#fff;
                        content:"";
                    }
                }
            }
        }
    }
    .header {
        position: relative;
        height:36px;
        padding:3px 0;
        margin-bottom:50px;
        justify-content: center;
        border:none;
        .toggle-menu{
            position:absolute;
            left:20px;
            top:50%;
            transform: translateY(-50%);
            width:20px;
            height:18px;
            @include bg(bg_toggle_menu);
            background-size:100%;
        }
        .logo {
            height:100%;
            img {
                height:100%;
            }
        }
        .search-box {
            position:absolute;
            bottom:-50px;
            margin-left:0;
            width:230px;
            padding:0 0 0 28px;
            input {
                font-size:12px;
            }
            button {
                width:19px;
                height:19px;
                background-size:cover;
            }
        }
        .util {
            position:absolute;
            right:16px;
            top:0;
            .alarm,.setting {
                display:none;
            }
            .my-page {
                img {
                    height:36px;
                    width: auto;
                }
            }
        }
        &.fix {
            margin-bottom:20px;
            .search-box {
                top:50%;
                bottom:0;
                transform: translateY(-50%);
            }
            .logo {
                display:none;
            }
            & + .contents {
                height:calc(100% - 56px);
            }
        }
    }
    .contents {
        height:calc(100% - 86px);
        padding:30px 16px 0 38px;
    }
    .white-borad {
        padding:20px 18px;
        .more {
            width:3px;
            height:15px;
            right:16px;
            top:25px;
            background-size:100%;
        }
        .user-info {
            left:-22px;
            .pic {
                width:44px;
                height:44px;
            }
            .treatment {
                width:36px;
                height:36px;
                margin-top:10px;
                img {
                    width:50%;
                }
            }
        }
        .inner {
            padding-left:14px;
            margin-bottom:10px;
            .info {
                margin-bottom:18px;
                .name {
                    font-size:18px;
                }
                .sub {
                    font-size:10px;
                }
            }
            .desc {
                padding-bottom:20px;
                font-size:13px;
                line-height:18px;
                img {
                    width:calc(36.33% - 24px);
                    + img {
                        margin-left:12px;
                    }
                }
            }
        }
        + .white-borad  {
            margin-top:30px;
        }
        &.is_pc.white-borad {
            + .white-borad {
                margin-top:0;
            }
        }
        .comment {
            padding-left:46px;
            .pic{
                top:50%;
                transform: translateY(-50%);
                img {
                    width:36px;
                    height:36px;
                }
            }
            .textarea{
                textarea{
                    padding: 4px 10px;
                    font-size: 12px;
                    &::placeholder{
                        font-size:12px;
                    }
                }
            }
        }
    }
    .comment-list {
        li {
            padding-left:15px;
            .pic {
                img {
                    width:25px;
                    height:25px;
                }
            }
            .view {
                padding-left:12px;
            }
            .desc {
                font-size:13px;
                line-height:18px;
            }
            .comment-util {
                margin-top:10px;
                span {
                    font-size:12px;
                }
            }
            ul {
                margin-top:10px;
                padding-top:10px;
            }
        }
    }
}